# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

# VS Code / JetBrains
.vscode/
.idea/

# Logs
*.log

# Secrets
.env
.env.*

# Working Copy (iOS Git app)
.wc/

# Images & outputs
*.png
*.jpg
*.jpeg
*.gif
*.svg
output/
